<div>
  {{#each program}}
    <div>
      <h1>{{name}}</h1>
    </div>
    <div>
      {{#with location}}
        <h2>{{city}} ({{country}})</h2>
      {{/with}}
      <strong>{{date}}</strong>
    </div>
   
    <hr />
    <section>
      {{>title data='Programs:' big=true}}
      <hr>
      {{#each program}}
        <h3>{{name}} - {{type}} - {{duration}} days</h3>
            {{#with details.museum}}
                <h4>{{name}}</h4>
            
                {{#with location}}
                  <h4>
                    <i>{{address}}  {{city}}  ({{country}})</i>
                  </h4>
                {{/with}}
                {{#each exhibits}}
                  <ul>
                    <li>
                      <b>{{name}}</b> - <b><i>{{#if artist}}
                     {{artist}} {{else}}No name artist{{/if}}</i></b>
                       - {{description}} - 
                      {{#if audio_guide}}(automatic audio-guide){{/if}}
                    </li>
                  </ul>
                {{/each}}
            {{/with}}
              {{#with details.venue}}
                <h4>{{name}}</h4>
            
                {{#with location}}
                  <h4>
                    <i>{{address}}  {{city}}  ({{country}})</i>
                  </h4> 
                {{/with}}
              {{/with}}

            {{#each details.performers}}
              <ul>
                <li>
                  <b>{{name}} - <i>{{type}} </i></b>
                </li>
              </ul>
            {{/each}}            

            {{#with details.guide}}
              Gid name:  {{name}} - <b>{{language}}</b> / ratio ({{rating}})
            {{/with}}
            <hr>
      {{/each}}
    </section>
  {{/each}}
</div>