<main> 
  
  {{> breadcrumb}}
  

  <section>    
    <div class="row g-4">
      <div class="card border-white p-0">
        <div class="row g-4"> 
          <div class="col-6 p-0 ms-2">
            <div class="card border-white" > 
                <img class='card-img' src='{{productData.img}}'></a>
              <div class="card mt-3">
                <div class='card-body'>
                  <h6 class='card-title mt-3'>{{productData.info.title}}</h6>
                    {{productData.info.about}}
                    {{description}}
                    <h4 class="pt-1">{{productData.info.price}} </h4>
                    {{#each productData.info.category}}
                    {{#if isNew}}<span class="badge rounded-pill text-bg-primary p-1">{{name}}</span>{{/if}}
                    {{#if isHot}}<span class="badge rounded-pill text-uppercase text-bg-warning p-1 text-white">{{name}}!</span>{{/if}}
                    {{#if isBonus}}<span class="badge rounded-pill text-bg-info p-1 text-white">{{name}}</span>{{/if}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
                  
            <div class="col-5 ms-4">
                  <div class="card mb-3 border-white">
                    <table class='table'> 
                      {{#with productData.item}}
                        <thead>
                          <tr>
                             
                              {{#each head}}
                                <th>
                                  {{this}} 
                                </th>
                              {{/each}}
                             
                          </tr>
                        </thead>
                        <tbody>
                          {{#each body}}
                            <tr>                              
                                {{#each this}} 
                                  <td>
                                    {{this}}
                                  </td>
                                {{/each}}                              
                            </tr>
                          {{/each}}
                        </tbody>
                      {{/with}}
                    </table>
                  </div>

                  {{#with productData.param}}                  
                    <div class='card mb-5'>
                      <div class='list-group'>
                          <div class='card-header'>{{title}}</div>  
                        {{#each list}}      
                          <div class='list-group-item'>{{this}}</div>
                        {{/each}}
                      </div>
                    </div> 
                  {{/with}}
                  
                  {{#with productData.alert}}
                    {{#if isError}}<span class="alert alert-danger ">{{text}}</span>{{/if}}
                  {{/with}}  
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-5">
    <div class='card mb-5'>    
      <div class="card-body pb-0">
        <div class="row g-8">  
          {{#each productData.actionList}}
            <div class="col-3  text-center ">
              <p {{#if isWarning}} class='btn btn-warning text-white'{{/if}}
                {{#if isError}} class='btn btn-outline-danger'{{/if}}
                {{#if isSuccess}} class='btn btn-success'{{/if}}
                {{#if isGood}} class='btn btn-outline-success'{{/if}}>
                {{name}}
              </p>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>

  <hr class='my-5 text-white'>
  <hr class='my-5 '>

  <section>
    <h3 class="text-center mb-3">{{goodsOtherBlock.title}}</h3>

    {{> shopcard}}
  </section>

  <hr class='my-5 mb-5'>
  <hr class='mb-3 text-white'>

  <section> 
    <h1 class="text-center">{{newsBlock.title}}</h1>
    <div class="row g-4 ">
      {{#each newsBlock.cards}}
        <div class='col-3'>
          <div class='card text-bg-dark text-white'>
             <h6 class='card-header' >{{title}} 
                {{#if isNew}}<span class="badge rounded-pill text-bg-success p-1">isNew{{/if}}</span>
                {{#if isTop}}<span class="badge rounded-pill text-bg-danger p-1">isTop{{/if}}</span>
              </h6>
            <div class='card-body pb-2' >
               <div>{{description}}</div>
            </div>    
          </div>
        </div>
      {{/each}}
    </div>
  </section> 
  {{> shopaction}}

</main>