<main> 
  
  <section>
   <h1 class="text-center mb-5">{{newsBlock.title}}</h1>
    <div class="row g-4 ">
      {{#each newsBlock.cards}}
        <div class='col-3'>
          <div class='card text-bg-dark text-white'>
             <h6 class='card-header' >{{title}} 
                {{#if isNew}}<span class="badge rounded-pill text-bg-success p-1">isNew{{/if}}</span>
                {{#if isTop}}<span class="badge rounded-pill text-bg-danger p-1">isTop{{/if}}</span>
              </h6>
            <div class='card-body pb-2' >
               <div>{{description}}</div>
            </div>    
          </div>
        </div>
      {{/each}}
    </div>
  </section>

  <hr my-5>

  <section>
    <div class="row g-12">      
      <div class="col-12">
        <div class="nav nav-tabs">
          {{#each goodsBlock.tabs}}
            <div class="nav-item 
              {{#if isActive}} active 
              {{else}} disabled" {{/if}}>
              <a  href="#" class="nav-link mb-0">{{text}}</a>
            </div>
          {{/each}}
                
        </div> 
      </div>              
    </div>    
  </section>

  <section>
    <div class="row g-4">
      {{#each goodsBlock.cards}}
        <div class='col-4'>
          <div class='card'>              
              <img
            class='card-img-top'
            src='{{image}}'/>                  
            <div class='card-body'>
              <h6 class='card-title'>{{title}}
                {{#if isNew}}<span class="badge rounded-pill text-bg-primary p-1">isNew{{/if}}</span>
                {{#if isHot}}<span class="badge rounded-pill text-uppercase text-bg-warning p-1">isHot!{{/if}}</span> 
              </h6>
              {{description}}
            </div>
          </div>            
        </div> 
      {{/each}}
    </div>    
  </section>

  <hr class="my-5">

  <section>
    {{> shopcard}}
  </section>

  <hr class="my-5">
{{> shopaction}}
  
  <hr class="mt-5">

</main>