<main> 
  <h2 class=mb-3>{{header.title}}</h2>
  <a type="button" class="btn btn-outline-secondary" href="{{header.button.link}}">
    {{header.button.text}}
  </a>
  
  <hr class="my-5">
  
  {{> cartGoodsItem}}

  <hr class="my-5">

  <h3>{{total.title}}</h3>
  <h1>{{total.amount}}</h1>
  <p>{{total.delivery}}</p>
  {{#each total.buttons}}
    <div>
      {{#if isSuccess}} <a href='{{link}}' class=' btn btn-success my-2'>{{text}}</a>{{/if}}
      {{#if isOutline}} <a href='{{link}}' class=' btn btn-outline-success my-2'>{{text}}</a>{{/if}}
    </div>
  {{/each}}

  <hr class="my-5">

  <h3 class='text-center mb-4'>{{goodsOtherBlock.title}}</h3>

  {{> shopcard}}

  <hr class='my-5'>

  <div class="card mt-5 text-bg-dark">
    <div class="card-body">
      <h3> {{subscribe.header}}</h3>
      <p>{{subscribe.description}}</p>
        {{#each subscribe.buttons}}
          <div>
            <button class="btn text-bg-primary my-2" href="{{subscribe.link}}">
              {{text}}
            </button> 
          </div>
        {{/each}}
    </div>
  </div>
</main>