<main> 

  {{> shoppost}}
  
  

  <hr my-5>

  <section>
    <div class="row g-12">      
      <div class="col-12">
        <div class="nav nav-tabs">
          {{#each goodsBlock.tabs}}
            <div class="nav-item 
              {{#if isActive}} active 
              {{else}} disabled" {{/if}}>
              <a  href="#" class="nav-link mb-0">{{text}}</a>
            </div>
          {{/each}}
                
        </div> 
      </div>              
    </div>    
  </section>

  <section>
    {{> shopcard}}
  </section>

  <hr class="my-5">

  <section>
    <div class="card text-bg-dark">
      <div class="card-body">
        <h3> {{subscribe.header}}</h3>
        <p>{{subscribe.description}}</p>
          {{#each subscribe.buttons}}
            <div>
              <button class="btn text-bg-primary my-2" href="{{subscribe.link}}">
                {{text}}
              </button> 
            </div>
          {{/each}}
      </div>
    </div>
  </section>

  <hr class="my-5">
{{> shopaction}}
  
  
</main>